<div class="container" style="padding:5%">
  <h1 style="text-align:center;">CryptoArbitrage</h1>

  <table class="table table-striped">
    <tr>
      <th>Symbol/Market</th>
      <%= for exchange <- @crypto_data.exchanges do %>
         <th><%= exchange.name %></th>
      <% end %>
      <th> Delta (%)</th>
      <th>Delta (%) w/o Bitfinex</th>
    </tr>
    <%= for crypto <- @crypto_data.cryptos do %>
        <tr>
          <td><%= crypto %></td>
           <%= for exchange <- @crypto_data.exchanges do %>
             <%= render("price_data.html", last_price_data: last_price_data(@crypto_data.current_prices, exchange, crypto)) %>
          <% end %>
          <td><%= arbitrage_delta_percent(@crypto_data.current_prices, crypto) |>
                  Float.round(4) %> </td>
         <td><%= @crypto_data.current_prices |>
                 Map.drop([:bitfinex]) |>
                 arbitrage_delta_percent(crypto) |>
                 Float.round(4) %></td>
        </tr>
    <% end %>
  </table>
</div>
