<td> 
  <div class="popover popover-bottom">
    <div> <%= @last_price_data.price %> </div>
    <div class="popover-container card">
      <div class="card-body">
        <span class="label">Updated</span>
        <i> <%= @last_price_data.time  %></i>
        <br/>
        <span class="label">Last size</span>
        <i> <%= @last_price_data.amount %></i>
      </div>
    </div>
  </div>
</td>
